<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aks" translate="label">
            <label>AKS</label>
        </tab>
         <section id="aks_kmcomponent"  showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <tab>aks</tab>
            <label>Knockout Pass Dynamic Val</label>
            <resource>Aks_KnockoutPassDynamicVal::kmcomponent</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="title" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <comment>Component Title</comment>
                </field>
                <field id="content" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="btn_txt" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Text</label>
                </field>
                <field id="is_primary_btn" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Primary Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>

